body {
    box-sizing: border-box;
}


#navegador a {
    text-decoration: none;
    color: rgb(36, 34, 34);
}

#navegador ul {
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    list-style: none;
    font-size: 28px;
}

#navegador a:visited {
    color: rgb(36, 34, 34);

}

#navegador a:hover {
    color: #000;
}

.cuerpo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto  1fr auto;
    gap: 20px;
}

#inisio {
    grid-column: 1/3;
} 

#Circumpolares {
    grid-column: 1/3;
}

#Estacionales {
    grid-column: 1/3;
}

#Zodiacale {
    grid-column: 1/3;
} 

#orion {
    grid-column:2/3;
}

footer {
    grid-column: 1/3;
} 

p {
    font-size: 25px;
}

h2 {
    font-size: 28px;
}

h1 {
    font-size: 35px;
}

