body {
    box-sizing: border-box;
}

/* * {
    margin: auto;
    padding: auto;
} */


h1 {
    margin: 15px auto;
    text-align: left;
}

p {
    font-size: 20px;
}



#introducion   {
    font-size: 30px;
}

h2 {
    background: rgb(17, 94, 133);
    border: 1px solid #000;
    padding: 20px ;
}

#navegador {
    margin: 0px;
}

#navegador a {
    text-decoration: none;
    color: #514e4e;

}

#navegador a:visited {
    color: #000;
}

#navegador a:hover {
    color: #000;
}

#navegador ul {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size: 22px;
}

label {
    font-size: 18px;
    color: #000;
    
}

.input {
    width: 200px;
    height: 39px;
    border: 1px solid #000;
}

.boton {
    border:none;
    background-color: rgba(3, 12, 93, 0.933);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer
}


footer {
    margin: 22px 0px 0px 0px;
    padding: 5px 5px 0px 0px;
    text-align: center;
    color: #fff;
    background-color: rgba(3, 12, 93, 0.933);
    height: 100px;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}